@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open Sans&display=swap");

html,
body,
h1,
ul {
  margin: 0;
  padding: 0;
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}
